@using PassingData.Models


<p>

	 Merhaba @ViewBag.UserName
</p>
<p>
	Merhaba @ViewBag.User.FirstName
	Merhaba @ViewBag.User.LastName 
</p>


<ul>

	@foreach (User item in ViewBag.Users)
	{
	<li>
		@item.FirstName
		@item.LastName
	</li>
	}
</ul>